<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Factura Losdelastogas</title>
</head>
<style type="text/css">
  div.test table,
  div.test tr,
  div.test td,
  div.test th{
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 20px;
}

</style>
<body>

<fieldset>
<legend ><h2> Vestidos Trajes y Togas</h2></legend>
<table id="table-head">
    <tr>
        <!-- <td>
            <img src="{{path}}/static/img/logo.png" alt="Logo" width="70" height="80">
        </td> -->
        <td>
            Fecha en que se toma el pedido <br>
            N° Factura de venta
        </td>
        <td>
            {{factura.fac_fecha_mod}} <br>
            <span style="color: red">N° {{factura.fac_numero}}</span>
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td id="info-head">
            Cra 76 N° 29 - 24 Belen Medellin <br>
            Teléfono fijo: 238 25 23 - 581 87 67 <br>
            Celular: 300 794 05 06 <br>
            Correo electrónico: casaluiferbelen@hotmail.com                        <br>
        </td>
    </tr>
    </table>


<div class="test">

<table style="width:100%">

<tr>
  <td>Fecha</td>
  <td>{{factura.fac_fechaFactura}}</td>
  <td width="7%">Medio    </td>
  <td width="7%">{{medio}}  </td>
  <td width="7%">Tipo     </td>
  <td>{{tipo}} </td>
  <td>Nombre   </td>
  <td>{{cliente.cli_nombre}} </td>
  <td width="7%">C.C.#    </td>
  <td width="11%">{{factura.fac_cliente}} </td>
  <td>Direccion</td> 
  <td width="11%">{{cliente.cli_direccion}} </td>
</tr>
<tr>
    <td>Atendido </td>
    <td>{{factura.fac_AtendidoPor}}</td>
    <td>Telefono Oficina</td>
    <td>{% if cliente.cli_telefonoFijor %}{{cliente.cli_telefonoFijor}} {% else %} .......... {% endif %}{% if cliente.cli_telefonoFijo_ext %}, {{cliente.cli_telefonoFijo_ext}}  {% endif %}</td>
    <td width="7%">Telefono Casa     </td>
    <td>{% if cliente.cli_telefono %}{{cliente.cli_telefono}} {% else %} .......... {% endif %}{% if cliente.cli_extension %}, {{cliente.cli_extension}} {% endif %}</td>
    <td>Celular           </td>
    <td>{{cliente.cli_celular}}</td>
    <td width="7%">Reclamar Mercancia</td>
    <td width="11%">{{factura.fac_ReclamarMercanciaFecha}} </td>
    <td >Devolver Mercancia</td>
    <td width="11%">{{factura.fac_DevolverMercanciaFecha}}</td> 
</tr>
  <tr>
    <td colspan="1">
      REF
    </td>
    <td colspan="3">
      ACCESORIOS
    </td>
    <td colspan="5">
      MEDIDAS Y ARREGLOS
    </td>
    <td colspan="3">
      VALOR UNITARIO
    </td>
  </tr>
  {#....................................#}
  {% for det in detalles%}
  <tr>
      <td colspan="1">{{det.facdet_Referencia}}</td>
      <td colspan="3">{{det.facdet_Accesorios}}</td>
      <td colspan="5">{{det.facdet_MedidasyArreglos}}</td>
      <td colspan="3">{{det.facdet_precio}}</td>
  </tr>
  {% endfor %}
  <tr>
    <td colspan="9">
      Por cada día de retraso se cobrarán $ 10,000 presentar esta factura de venta y cedula para reclamar su mercancía, 
      Es indispensable firmar una letra de cambio por el valor comercial de las prendas' entregadas, Cualquier modificación
      a esta factura de venta deberá hacerse personalmente, No hay devolución de dinero, HORARIO DE ATENCiÓN: Lunes
      a Sábado de, 10:00 a.rn. a 7:00 p.rn. Jornada continua, ESTA FACTURA DE VENTA TIENE UNA CADUCIDAD DE 6 MESES,
    </td>
    <td  colspan="3">
            TOTAL $:            {{facturaTotalConCommas}} <br>    
            <br>
            <br>      

        {% if retefuente %}

            RETEFUENTE:{{retefuente}} <br>
        {% endif %}
    </td>
  </tr>
</table> 

</div>
</fieldset> 
    </body>
</html>