{% extends "base.html" %}
{% block styles %}
    <link rel="stylesheet" href="/static/css/pedido.css">
{% endblock %}
{% block content %}
 <form action = "http://localhost:5000/result" method = "POST" >

         <p>Nombre del cliente <input type = "text" name = "txtNonmbreCliente" id="AjNombre"/></p>
         <p>CC/Nit <input type = "text" name = "txtCC_Nit" id="testJquery" id="AjCcNit"/></p>
         <p>  <input type = "text" name = "txtDiaCumpleaños" placeholder="Dia_Cumpleaños" id="AjDiaCumpleaños"/></p>
         <p>  <input type = "text" name = "txtMesCumpleaños" placeholder="Mes-Cumpleaños" id="AjMesCumpleaños"/></p>
         <p>Telefono fijo <input type ="text" name = "txtTelefonoFijo" id="AjTelefonoFijo"/></p>
         <input type ="text" name = "txtExtension" plaholder="Ext" id="AjExt"/>
         <p>Celular <input type ="text" name = "txtCelular" placeholder="Celular" id="AjCelular"/></p>
         <p> Email <input type ="text" name = "txtEmail" placeholder="Email" id="AjEmail"/></p>
         <p> Direccion<input type ="text" name = "txtDireccion" placeholder="Direccion" id="AjDireccion"/></p>
         <p> Municipio <input type ="text" name = "txtMunicipio" placeholder="Municipio" id="AjMunicipio"/></p>
         <p> Barrio <input type ="text" name = "txtBarrio" placeholder="Barrio" id="AjNombre" id="AjBarrio"/></p>
         <input type ="text" name = "txtReferenciaNombre" plaholder="Nombre de la Referencia" id="AjReferenciaNombre"/>
         <input type ="text" name = "txtReferenciaCelular" plaholder="Celular de la Referencia" id="AjReferenciaCelular"/>
         <input type ="text" name = "txtReferenciaTElefono" plaholder="Telefono de la Referencia" id="AjReferenciaTelefono"/>



         <p><input type = "submit" value = "submit" /></p>
      </form>
      <br>
      <div id="succesAlert" class="alert alert-succes" role="alert" style="display:none;"></div>
      <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
{% endblock %}