{% extends "base.html" %}
{% block styles %}
    <link rel="stylesheet" href="/static/css/pedido.css">
{% endblock %}
{% block content %}
    <div class = "container-fluid">
        <div class="modal fade" id="modal_validacion" role="dialog" >
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="alert alert-warning">
                            Error, faltan los siguientes campos:
                        </div>
                        {% for error in form.errors %}
                            {{ form[error].label }} <br>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal_error_pedido" role="dialog" >
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button> <br>
                        <div class="alert alert-warning">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal_sugerencia" role="dialog" >
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Estolas</h4>
                    </div>
                    <div class="modal-body">
                        <p>Recuerde ofrecer estolas bordadas y estampadas.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal_pedido" role="dialog" >
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Pedido</h4>
                    </div>
                    <div class="modal-body">
                        <p>Pedido cargado correctamente.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal_estolas" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Estolas</h4>
                    </div>
                    <div class="modal-body">
                        <p>¿Ha ofrecido estolas bordadas y estampadas?</p>
                        <div class="radio">
                            <label><input type="radio" name="optradio">Si</label>
                            <label><input type="radio" name="optradio" checked>No</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal_valor" role="dialog" >
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button> <br>
                    </div>
                    <div class="modal-body">
                        <p>Valor ingresado: <strong id="valor_moneda"></strong> - <strong id="valor_letra"></strong></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Confirmar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" id='cancelar_val_uni'>Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
        <form class="form-horizontal" method="post" name="pedidos" role="form" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-md-2 ">
                    <h2>Temporada<strong style="display: none;", id="temporada-pedido"></strong></h2>
                </div>
                <div class="col-md-3 ">
                    <label class="col-lg-4 control-label" for="ped_estado_com">Estado comercial<span class="obligatorio">*</span></label>
                    <div class="col-md-8 ">
                        {{ form.ped_estado_com(class="form-control")}}
                        {% for error in form.ped_estado_com.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div id="contacto" style="display: none;">
                        {{ form.fecha_contacto.label(class="col-lg-4 control-label")}}
                        <div class="col-md-8 ">
                            {{ form.fecha_contacto(class="form-control")}}
                            {% for error in form.fecha_contacto.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="pull-right">
                        {% if prospecto is not none %}
                            <h2>Prospecto</h2>
                        {% else %}
                            <h2>Pedido</h2>
                            <strong id="fecha-pedido"></strong>
                        {% endif %}
                    </div>
                </div>
                {% if prospecto is none %}
                    <div class="col-md-2 ">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <a href="#" class="anterior"><span class="glyphicon glyphicon-triangle-left"></span></a>
                            </span>
                            {{form.id_pedido(class="form-control", style="min-width: 70px", disabled="disabled")}}
                            <span class="input-group-btn">
                                <a href="#" class="siguiente disabled"><span class="glyphicon glyphicon-triangle-right"></span></a>
                            </span>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="modal fade" id="modal_ordenes" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Descargar ordenes de empaque y despacho</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="row">
                                    {{form.fecha_orden.label(class="col-lg-4 control-label")}}
                                    <div class="col-md-8 ">
                                        {{ form.fecha_orden(class="form-control")}}
                                        {% for error in form.fecha_orden.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="descargar_pdf_ordenes">PDF</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal_ent_rec" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Descargar ordenes de entrega y recogida</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="row">
                                    {{form.fecha_orden_entrega.label(class="col-lg-4 control-label")}}
                                    <div class="col-md-8 ">
                                        {{ form.fecha_orden_entrega(class="form-control")}}
                                        {% for error in form.fecha_orden_entrega.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="descargar_pdf_ent_rec">PDF</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="descargar_excel_ent_rec">Excel</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#pedido">Pedido</a></li>
                <li><a data-toggle="tab" href="#orden-despacho">Orden de empaque y despacho</a></li>
                <li><a data-toggle="tab" href="#orden-entrega-recogida">Orden de entrega y recogida</a></li>
            </ul>
            <div class="tab-content">
                <div id="pedido" class="tab-pane fade in active">
                    <fieldset>
                        <legend>Datos del cliente</legend>
                        <div class="row">
                            <div class="form-group">
                            <label class="col-lg-1 control-label" for="nombre_enc">Nombre<span class="obligatorio">*</span></label>
                                <div class="col-lg-2">
                                    {{ form.nombre_enc(class="form-control", placeholder="Nombre") }}
                                    {% for error in form.nombre_enc.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                                <label class="col-lg-1 control-label" for="identificacion_enc">C.C.<span class="obligatorio">*</span></label>
                                <div class="col-md-2 ">
                                    {{ form.identificacion_enc(class="form-control", placeholder="C.C.") }}
                                    {% for error in form.identificacion_enc.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </div>                
                               <label class="col-lg-2 control-label"">Fecha de nacimiento</label>
                                <div class="col-md-3 form-group">
                                    {{ form.mes_enc.label(class="col-lg-1 control-label")}}
                                    <div class="col-md-5">
                                        {{ form.mes_enc(class="form-control", style="padding: 6px 6px;") }}
                                        {% for error in form.mes_enc.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                    {{ form.dia_enc.label(class="col-lg-1 control-label")}}
                                    <div class="col-md-4">
                                        {{ form.dia_enc(class="form-control", style="padding: 6px 6px;") }}
                                        {% for error in form.dia_enc.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                </div>
                           
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">

                                <label class="col-lg-1 control-label" for="telefono_enc" style="white-space: nowrap;">Telefono fijo</label>
                                <div class="col-md-2">
                                    {{ form.telefono_enc(class="form-control", placeholder="Telefono fijo") }}
                                    {% for error in form.telefono_enc.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                                <div class="col-lg-1">
                                    {{ form.extension_enc(class="form-control", placeholder="Ext.") }}
                                    {% for error in form.extension_enc.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                                <label class="col-lg-1 control-label" for="celular_enc">Celular<span class="obligatorio">*</span></label>
                                <div class="col-md-2">
                                    {{ form.celular_enc(class="form-control", placeholder="Celular") }}
                                    {% for error in form.celular_enc.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                                <label class="col-lg-1 control-label" for="email_enc">Correo electronico<span class="obligatorio">*</span></label>
                                <div class="col-md-2">
                                    {{ form.email_enc(class="form-control", placeholder="Correo Electronico") }}
                                    {% for error in form.email_enc.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                                <label class="col-lg-1 control-label" for="direccion_enc">Dirección</label>
                                <div class="col-md-2">
                                    {{ form.direccion_enc(class="form-control", placeholder="Direccion") }}
                                    {% for error in form.direccion_enc.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                
                            	</div>
                                
                                
                                
                                
                            </div>
                        </div>
                        <div class="row">
                        <label class="col-lg-1 control-label" for="municipio_enc">Municipio<span class="obligatorio">*</span></label>
                                <div class="col-md-2">
                                    <div class="input-group">
                                        {{ form.municipio_enc(class="form-control other") }}
                                        <span class="input-group-addon" id="area_enc"></span>
                                    </div>
                                    {% for error in form.municipio_enc.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                    {{ form.otro_municipio_enc(class="form-control", placeholder="¿Cuál?")}}
                                    {% if not form.municipio_enc.errors %}
                                        {% for error in form.otro_municipio_enc.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <label class="col-lg-1 control-label" for="barrio_enc">Barrio</label>
                                <div class="col-md-2">
                                    {{ form.barrio_enc(class="form-control", placeholder="Barrio") }}
                                    {% for error in form.barrio_enc.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                                <div class="col-lg-2" style="padding-left: 0;">
                                <label class="col-lg-2 control-label" for="tipo_enc">Tipo</label>
                                <div class="col-lg-9">
                                    <input class="form-control" id="tipo_enc" type="text" readonly="readonly" placeholder="Tipo de cliente">
                                </div>
                            </div>
                        
                            
                                
                                
                            
                        <div class="row">
                           <label class="col-lg-1 control-label" for="barrio_enc">Rerencia (que no viva con el cliente)</label>
                                <div class="col-md-2">
                                    {{ form.ped_referenciaNombre(class="form-control", placeholder="Nombre de la referencia") }}
                                    {% for error in form.ped_referenciaNombre.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                                <div class="col-md-2">
                                    {{ form.ped_referenciaNombre(class="form-control", placeholder="Celular de la referencia") }}
                                    {% for error in form.ped_referenciaNombre.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                                <div class="col-md-2">
                                    {{ form.ped_referenciaNombre(class="form-control", placeholder="Telefono de la referencia") }}
                                    {% for error in form.ped_referenciaNombre.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                            
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Datos del pedido</legend>
                        <div class="row">
                            {{form.ped_manual.label(class="col-lg-1 control-label", style="white-space: nowrap;")}}
                            <div class="col-md-2">
                                {{ form.ped_manual(class="form-control", placeholder="Consecutivo manual")}}
                                {% for error in form.ped_manual.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                            {{ form.ped_poblacion.label(class="col-lg-1 control-label")}}
                            <div class="col-md-2">
                                {{ form.ped_poblacion(class="form-control")}}
                                {% for error in form.ped_poblacion.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                            <label class="col-lg-1 control-label" for="ped_evento" style="white-space: nowrap;">Tipo de evento<span class="obligatorio">*</span></label>
                            <div class="col-md-2">
                                {{ form.ped_evento(class="form-control other")}}
                                {% for error in form.ped_evento.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                                {{ form.otro_ped_evento(class="form-control", placeholder="¿Cuál?")}}
                                {% if not form.ped_evento.errors %}
                                    {% for error in form.otro_ped_evento.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <label class="col-lg-1 control-label" for="fecha_evento" style="white-space: nowrap;">Fecha del evento</label>
                            <div class="col-md-2">
                                {{ form.fecha_evento(class="form-control") }}
                                {% for error in form.fecha_evento.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                            </div>
                             <div class="row">
                            <div class="table-responsive">
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <th class="text-center">Valor</th>
                                        <td id="valor-pedido" class="text-center"></td>
                                        <td id="valor-despachado" class="text-center"></td>
                                        <td id="valor-entregado" class="text-center"></td>
                                        <td rowspan="3" id="valor-cortesias" class="text-center"></td>
                                        <td rowspan="3" id="valor-pagar" class="text-center"></td>
                                    </tr>
                                    <tr>
                                        <th class="text-center">{{ form.abonos.label(class = "control-label") }}</th>
                                        <td colspan="2" class="text-center">
                                            <div class="input-group">
                                                <span class="input-group-addon" id = "basic-addon2">$</span>
                                                {{ form.abonos(class="form-control", placeholder = "Abonos", readonly = "readonly") }}
                                            </div>
                                            {% for error in form.abonos.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th class="text-center">Saldo</th>
                                        <td id="saldo-pedido" class="text-center"></td>
                                        <td id="saldo-despachado" class="text-center"></td>
                                        <td id="saldo-entregado" class="text-center"></td>
                                    </tr>
                                    <tr>
                                        <td class="thick-line"></td>
                                        <td class="thick-line"></td>
                                        <td class="thick-line"></td>
                                        <td class="thick-line"></td>
                                        <td class="thick-line text-center"><strong>Saldo total</strong></td>
                                        <td class="thick-line text-center" id="saldo-total"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        </div>

                            <div class="row">
                            <label class="col-lg-2 control-label" for="fecha_entrega" style="white-space: nowrap;">Fecha de entrega</label>
                            <div class="col-md-2">
                                {{ form.fecha_entrega(class="form-control") }}
                                {% for error in form.fecha_entrega.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                         <label class="col-lg-2 control-label" for="fecha_recogida" style="white-space: nowrap;">Fecha de devolución</label>
                            <div class="col-md-2">
                                {{ form.fecha_recogida(class="form-control") }}
                                {% for error in form.fecha_recogida.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>   
                            </div>

{% endblock %}